/* product-list.component.css */

h2 {
    text-align: center;
    color: brown;
}

li{
    display: inline-block;
    margin-left: 2rem;
    border-style: double;
    border-color: brown;
    width: 25rem;
    margin-top: 5px;
}
